/* @settings

name: Monolith Umbra
id: umbra
settings:
	-
		id: color-scheme-settings
		title: Color scheme
		type: heading
		level: 2
		collapsed: false
	-
		id: umbra-scheme
		title: Scheme
		type: class-select
		allowEmpty: false
		default: umbra-default
		options:
			-
				label: Umbra
				value: umbra-default
			-
				label: Resolarized
				value: umbra-resolarized
			-
				label: Glacier
				value: umbra-glacier
			-
				label: Monolith
				value: scheme-monolith
			-
				label: Hunter
				value: scheme-hunter
	-
		id: feature-settings
		title: Features
		type: heading
		level: 2
		collapsed: false
	-
		id: colorful-frame
		title: Colorful window frame
		type: class-toggle
		default: true
	-
		id: colorful-active
		title: Colorful active states
		type: class-toggle
		default: true
	-
		id: colorful-headings
		title: Colorful headings
		type: class-toggle
		default: true
	-
		id: minimal-status-off
		title: Full-width status bar
		description: Disable Umbra's minimal floating status bar
		type: class-toggle
		default: false
	-
		id: full-file-names
		title: Wrap full sidebar filenames
		description: Disable trimmed sidebar filenames
		type: class-toggle
		default: false
	-
		id: borders-none
		title: Hide workspace borders
		type: class-toggle
		default: false
	-
		id: links-int-on
		title: Underline internal links
		type: class-toggle
		default: true
	-
		id: links-ext-on
		title: Underline external links
		type: class-toggle
		default: true
	-
		id: interface-settings
		title: Interface
		type: heading
		level: 2
		collapsed: true
	-
		id: animations
		title: Animation speed
		type: class-select
		allowEmpty: false
		default: fast-animations
		options:
			-
				label: Normal
				value: default
			-
				label: Fast
				value: fast-animations
			-
				label: Disabled
				value: disable-animations
	-
		id: cursor
		title: Cursor style
		type: variable-select
		allowEmpty: false
		default: pointer
		options:
			-
				label: Pointer
				value: pointer
			-
				label: Default
				value: default
	-
		id: mobile-toolbar-off
		title: Disable mobile toolbar
		type: class-toggle
		default: true
	-
		id: tabs-style
		title: Tab style
		type: class-select
		allowEmpty: false
		default: tabs-modern
		options:
			-
				label: Modern
				value: tabs-modern
			-
				label: Default
				value: tabs-default
	-
		id: window-title-off
		title: Hide window title
		type: class-toggle
		default: false
	-
		id: editor-settings
		title: Editor and content
		type: heading
		level: 2
		collapsed: true
	-
		id: active-line-on
		title: Highlight active line
		type: class-toggle
		default: true
	-
		id: minimal-code-scroll
		title: Scroll long code lines
		type: class-toggle
		default: true
	-
		id: minimal-strike-lists
		title: Strike completed tasks
		type: class-toggle
		default: true
	-
		id: minimal-unstyled-tags
		title: Plain tags
		type: class-toggle
		default: true
	-
		id: tag-radius
		title: Tag radius
		type: variable-select
		allowEmpty: false
		default: 14px
		options:
			-
				label: Pill
				value: 14px
			-
				label: Rounded
				value: 4px
			-
				label: Square
				value: 0px
	-
		id: h1-style
		title: H1 style
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Italic
				value: italic
	-
		id: h1-variant
		title: H1 variant
		type: variable-select
		allowEmpty: false
		default: normal
		options:
			-
				label: Normal
				value: normal
			-
				label: Small caps
				value: small-caps
	-
		id: h1-l
		title: H1 divider line
		type: class-toggle
		default: false
	-
		id: table-settings
		title: Tables
		type: heading
		level: 2
		collapsed: true
	-
		id: row-alt
		title: Alternating rows
		type: class-toggle
		default: true
	-
		id: row-hover
		title: Highlight hovered row
		type: class-toggle
		default: true
	-
		id: row-lines
		title: Row lines
		type: class-toggle
		default: true
	-
		id: col-lines
		title: Column lines
		type: class-toggle
		default: false
	-
		id: table-lines
		title: Cell lines
		type: class-toggle
		default: true
	-
		id: table-nowrap
		title: Disable line wrapping
		type: class-toggle
		default: true
	-
		id: table-numbers
		title: Row numbers
		type: class-toggle
		default: true
	-
		id: table-center
		title: Center small tables
		type: class-toggle
		default: false
	-
		id: table-tabular
		title: Tabular figures
		type: class-toggle
		default: false
	-
		id: checkbox-settings
		title: Checkboxes
		type: heading
		level: 2
		collapsed: true
	-
		id: checkbox-icon-set
		title: Icon set
		type: class-select
		allowEmpty: false
		default: mo-icons-lucide
		options:
			-
				label: Lucide
				value: mo-icons-lucide
			-
				label: Native
				value: mo-icons-native
	-
		id: checkbox-style
		title: Alternate checkbox style
		type: class-select
		allowEmpty: false
		default: mo-checkbox-icons
		options:
			-
				label: Icon only
				value: mo-checkbox-icons
			-
				label: Framed
				value: mo-checkbox-framed
	-
		id: checkbox-shape
		title: Normal checkbox shape
		type: class-select
		allowEmpty: false
		default: mo-checkbox-circle
		options:
			-
				label: Circle
				value: mo-checkbox-circle
			-
				label: Square
				value: mo-checkbox-square

*/
